<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>❤️❤️LoveBeyond30❤️❤️</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
  <div class="container">
    <!-- Sign In -->
    <form id="signin-form" action="{{ url_for('login') }}" method="POST">
      <h2><b><p style="color:#b83280;">❤️Love Beyond 30+❤️</p></b></h2>
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Sign In</button>
      <p>Don't have an account? <a id="show-signup">Sign Up</a></p>
    </form>

    <!-- Sign Up -->
    <form id="signup-form" action="{{ url_for('register') }}" method="POST" style="display: none;">
      <h2>Sign Up</h2>
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <button type="submit">Sign Up</button>
      <p>Already have an account? <a id="show-signin">Sign In</a></p>
    </form>
    <br>
    <p style="color: blue;"><u>Important Notice:</u></p>
    
    <br><b><p style="color: blue;">
     ✨ Welcome!<br>
This space is created with love, only for my besties who are 30+. ❤️</b></p>
<p style="color: blue;">
Your privacy is our priority — all data is safe and secure.</p> </div>

 <div class="container2">
  <h3><p style="color:#b83280;">Enjoy The Movement 💒</p></h3>
  
  <video autoplay loop muted controls>
    <source src="{{ url_for('static', filename='wedding.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
